*.pyc
*.pyo
src/agx.sphinx.egg-info
.installed.cfg
.mr.developer.cfg
devsrc
bin/
develop-eggs/
docs/Makefile
docs/make.bat
eggs/
parts/
docs/doctrees/
docs/html/
.DS_Store
.project
.pydevproject
.settings/
